$light-blue: #dfd;
$dark-blue: #030;
$menu-width: 200px;

html {
	body {
		display: flex;
		.menu {
			width: $menu-width;
			background-color: $dark-blue;
			color: #fff;
		}
		.main {
			width: calc(100% - $menu-width);
			background-color: $light-blue;
			color: $dark-blue;
		}
	}
}
